
.logo{
    height: 75px;
    width: 150px;
    margin: 0;
}

html {
    scroll-behavior: smooth;
   }
.card-title{
    display: flex;
    margin: auto;
    justify-content: center;
}
.lien{
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: bold;
    text-decoration: none;
    color:white;
}

.lien:hover{
    color:white;
}
.lien:after {
    display:block;
    content: '';
    border-bottom: solid 3px #1db487;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
.lien:hover:after { transform: scaleX(1); }

.jumbotron{
    height:30em;
    background-image: linear-gradient(to top, #ffffff, #eef0fd, #d6e2fc, #b8d6f9, #92ccf5);
}

.c19{
    width: 440px;
    height: 300px;
}

.card-1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: bold;
    color:rgb(24, 24, 104);
    margin-left: 10em;
    text-align: center;
    box-shadow: 0 5px 5px -5px #333;
    position: relative;
    margin-top:1em;
}

h2{
    color:white;
}

.bg-transparent.scrolled{
    background-color: #AAC4DB !important;
    transition: 1s ease-in-out;
}

.login-btn{
    box-shadow: 2px 2px 37px -9px rgba(0,0,0,0.75);
    border:0px;
    background: radial-gradient( #007CFF, #0344BD);
    opacity: 80%;
}
.login-btn:hover{
    opacity: 100%;
}
.h5-b{
    color: #1384E2;
    margin-left: 10px;
}
.carousel{
color:rgb(231, 242, 255);
justify-content: left;
text-align: left;
margin-left: 5%;
text-shadow: 2px 2px 5px rgb(124, 135, 167);
min-width: 35%;
padding: 100px;
font-family: 'Rajdhani', sans-serif;
}
.logo-2{
    height: 250px;
    width: 500px;
    opacity: 50%;
}
.label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}
.label-file:hover {
    color: blue;
}
.input-file{
    display: none;
}
.form-2{
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(247,247,247,0.7161239495798319) 15%, rgba(240,240,240,1) 32%, rgba(240,240,240,1) 67%, rgba(247,247,247,0.7777485994397759) 83%, rgba(255,255,255,0) 100%);
    opacity: 100%;
    padding:30px;
    border-radius: 10px;
    max-width: 40em;
    justify-content: center;
    text-align: center;
    min-height: 20em;
    vertical-align: center;
}

.card-title-2{
    font-family: 'Montserrat Alternates', sans-serif;
    color:rgb(26, 26, 102);
}
.position-row{
    top:-20em;
    position: relative;
}
.form-control{
    border-radius: 20px;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
    box-shadow:  inset 1px 1px 5px #BABECC, inset -5px -5px 10px #FFF;
    background-color:  rgba(240, 240, 240, 0.89);
    border:none;
}
.font{
    font-family: 'Montserrat Alternates', sans-serif;
    color:rgb(26, 26, 102);
}
.form-label{
    color:rgb(165, 164, 164);
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    font-size:20px;
    margin-top:3px;
}
.form-submit{
    margin-top:1em;
    border-radius: 20px;
    padding:10px;
    width: 20em;
    border:none;
    box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #bbdad0;
    color: green;
    font-family: 'Rajdhani', sans-serif;
    font-size:22px;
    text-transform: uppercase;
}
.form-submit:hover{
    background-color: green;
    color:white;
}
.banniere{
    text-shadow: 7px 4px 14px #94A1CC;
    color:rgb(255, 255, 255);
    font-family: 'Rajdhani', sans-serif;
}
.btn-test{
    border-radius: 8px;
    color:white;
    border:none;
    box-shadow: 2px 2px 5px rgb(188, 188, 243);
    background-image: linear-gradient(45deg, #002c8a 0%, #00bcdd 100%);
}
.btn-inscription{
    box-shadow: 2px 2px 5px rgb(188, 188, 243);
    border-bottom-right-radius: 20px;

}
#down {
    padding-top: 20%;
   } 
.more{
    border-radius: 20px;
    margin-left: 45%;
    padding:30px;
    box-shadow: 2px 2px 9px rgb(177, 177, 177);
}
.annonces{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Rajdhani', sans-serif;
    color:rgb(3, 79, 141);
}

.container-d{
    position: relative;
    top:-17em;
}
.row-1{
    padding-bottom: 7em;
}
.number{
    color: rgb(51, 76, 109);
    font-size:300px;
    margin-left: 15%;
}
.text-1{
    margin-top:20%;
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
    color:rgb(70, 143, 113);
}
.name{
    font-size:60px;
    color:rgb(69, 100, 105);
    font-family: 'Rajdhani', sans-serif;


}
.desc{
    font-size:20px;
    color:rgb(82, 82, 82);
    font-family: 'Rajdhani', sans-serif;
    text-shadow: none;
}
.carousel-item{
    vertical-align: center;
    box-shadow: 1px 1px 5px 1px #cfcfcf;
    height: 25em;
    width: 30em;
    padding:20px!important;
    background: linear-gradient(0deg, rgba(225,239,240,0.3) 0%, rgba(219,219,219,0.3) 100%);
}
iframe{
margin-left: auto;
margin-right: auto;
}
.back{
    background: linear-gradient(90deg, rgba(244,255,255,1) 0%, rgba(255,255,255,1) 16%, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 79%, rgba(239,252,255,1) 100%);
}
.card-body{
    padding:1em!important;
}
.deco{
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    color:white;
}
.monfooter {
    padding-top: 2em;
    background-color: #5A5A57;
  }

  .petitfooter {
    background-color: #292929;
  }