{% extends 'base.html' %}

{% block head %}

<title> C19-Analyser </title>

{% endblock %}

{% block body %}

<div class="container-fluid ">
  <div class="row">
    <div class="col">
      <div class="card card-1 rounded-top" style="width: 30rem;top:-18em;">
        <img class="card-img-top" src="../static/co19-2.png">
        <div class="card-body">
          <div class="card-title">
            <h5>Veuillez sélectionner une </h5>
            <h5 class="h5-b">radio</h5>
          </div>
          <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            File: {{ messages[1] }}
            Result: {{ messages[0] }}
            {% endif %}
            {% endwith %}
          </p>
        </div>
        <form method="post" action="/" enctype="multipart/form-data">
          <dl>
            <p>
              <label for="file" class="label-file">Choisir une image</label>
              <input type="file" class="input-file" name="file" autocomplete="off" required>
            </p>
          </dl>
          <div class="card-footer">
            <p><input class="login-btn btn-lg" type="submit" value="Analyser"></p>
          </div>
        </form>
      </div>
    </div>
    <div class="col">
      <img  style="height: 30em; width:30em; top:-15em; position:relative;"src="https://cdn.pixabay.com/photo/2014/12/14/21/23/x-ray-image-568241_960_720.jpg" alt="Card image cap">
    </div>
  </div>
</div>

</div>

{% endblock %}