{% extends 'base.html' %}

{% block head %}

<title> Admin C19 </title>

{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="row">

        <h1> Admin section </h1>

        <h2> En cours de construction... </h2>

    </div>

    <div class="row">

        <ul>
            {% for image in images %}

            <li> {{ image }} </li>
            <input type="button" value="Supprimer">

            {% endfor %}
        </ul>

    </div>

    <div class="row">
        En cours de construction...

        <a href="/register"> Add users </a>
    </div>

</div>

{% endblock %}