<!DOCTYPE html>

<html>

    <head>

        <title> C19-Analyser </title>

    </head>

    <body>

        <h1>  Keras based image classifier </h1>

        <h2> Select a file to upload </h2>

        <p>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                File: {{ messages[1] }}
                Result: {{ messages[0] }}
              {% endif %}
            {% endwith %}
        </p>
        
        <form method="post" action="/" enctype="multipart/form-data">
            <dl>
            <p>
                <input type="file" name="file" autocomplete="off" required>
            </p>
            </dl>
            <p>
            <input type="submit" value="Submit">
            </p>
        </form>

    </body>

</html>
