{% extends 'base.html' %}

{% block head %}

<title> Connexion </title>

{% endblock %}

{% block body %}

<div class="container">
    <div class="row position-row">
        <div class="col">
            <h1 class="card-title-2">Connexion</h1>
            <form method="POST" class="form-2" action="/login">
                <img style="height: 150px;width:300px" src="../static/logo.png">
                <fieldset class="form-field">
                    <p class="font">{{ form.email.label }}</p>
                    <div class="essai">{{ form.email }}</div>
                    <hr class="ligne">
                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
    
                <fieldset class="form-field">
                    <p class="font">
                        {{ form.password.label }}
                    </p>
                    {{ form.password }}
                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </fieldset>
    
                {{ form.csrf_token }}
    
                {{ form.submit }}
    
            </form>
        </div>
    </div>
</div>

{% endblock %}